.sectionTilte{
    margin-top: 1rem;
}

.title {
    text-align: center;
    font-family: "initial";
    font-size: 3rem;
    font-weight: 700;
  }
  
.paragraph {
    color: #161C2D;
    font-weight: 400;
    text-align: center;
    font-size: 0.7rem;
  }
  